<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Perfil</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Nombre 1</td>
            <td>correo@correo.com</td>
            <td>BA</td>
            <td>Activo</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Nombre 1</td>
            <td>correo@correo.com</td>
            <td>BA</td>
            <td>Activo</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Nombre 1</td>
            <td>correo@correo.com</td>
            <td>BA</td>
            <td>Activo</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Nombre 1</td>
            <td>correo@correo.com</td>
            <td>BA</td>
            <td>Activo</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Nombre 1</td>
            <td>correo@correo.com</td>
            <td>BA</td>
            <td>Activo</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Nombre 1</td>
            <td>correo@correo.com</td>
            <td>BA</td>
            <td>Activo</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Nombre 1</td>
            <td>correo@correo.com</td>
            <td>BA</td>
            <td>Activo</td>
        </tr>

    </tbody>
</table>