/* You can add global styles to this file, and also import other style files */

#themecolors a {
    cursor: pointer;
}

.imagen-logo {
    width: 100%;
    height: 60px;
    object-fit: scale-down;
}

.imagen-gantt {
    width: 100%;
    height: 370px;
    object-fit: fill;
    /* object-fit: scale-down; */
}

.tabla-text {
    font-size: 14px;
} 

.table-alto {
	height: 200px;
}

